# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=audiouploader
DB_USER=postgres
DB_PASSWORD=postgres123

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=audio-uploads
MINIO_USE_SSL=false

# Procesamiento
FFMPEG_PATH=ffmpeg
PYTHON_PATH=C:\Users\EMANUEL\.pyenv\pyenv-win\versions\3.12.2\python.exe
WHISPER_SCRIPT_PATH=../scripts/whisper_transcribe.py
WHISPER_MODEL=small
SUMMARY_SCRIPT_PATH=../scripts/summary_generator.py
SUMMARY_MODEL=llama3.2
SUMMARY_MAX_LENGTH=300
SUMMARY_MIN_LENGTH=50
OLLAMA_URL=http://localhost:11434

# Batch y concurrencia
BATCH_SIZE=5
BATCH_INTERVAL_SECONDS=10
MAX_CONCURRENT_COMPRESSIONS=2

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=audiouploader
RABBITMQ_PASSWORD=changeme123
RABBITMQ_VHOST=/
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_TRANSCRIPTION_QUEUE=transcription-results
RABBITMQ_SUMMARY_QUEUE=summary-results

# Aplicación
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5248

# Hugging Face Token (opcional: solo necesario para descargar modelos gated de HF)
HF_TOKEN=
